*.user
*.suo
*.pdb
*.ilk
*.obj
*.iobj
*.ipdb
*.tlog
*.log
*.recipe
*.tmp
*.cache
*.sav
*.VC.db
*.opendb

.vs/
bin/
obj/
output/
native-src/anim-panel/AnimPanel/.obj/
native-src/anim-panel/AnimPanel/output/
modloader/AnimPanel/cache/
modloader/AnimPanel/logs/
